=begin
#Assembly API

#Assembly (formely PromisePay) is a powerful payments engine custom-built for platforms and marketplaces.

The version of the OpenAPI document: 2.0
Contact: support@assemblypayments.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.1

=end

require 'cgi'

module AssemblyRuby
  class BPayAccountsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create BPay Account
    # Create a **BPay Account** to be used as a Disbursement destination. 
    # @param bpay_account_request_body [BpayAccountRequestBody] 
    # @param [Hash] opts the optional parameters
    # @return [BpayAccount]
    def create_b_pay_account(bpay_account_request_body, opts = {})
      data, _status_code, _headers = create_b_pay_account_with_http_info(bpay_account_request_body, opts)
      data
    end

    # Create BPay Account
    # Create a **BPay Account** to be used as a Disbursement destination. 
    # @param bpay_account_request_body [BpayAccountRequestBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BpayAccount, Integer, Hash)>] BpayAccount data, response status code and response headers
    def create_b_pay_account_with_http_info(bpay_account_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BPayAccountsApi.create_b_pay_account ...'
      end
      # verify the required parameter 'bpay_account_request_body' is set
      if @api_client.config.client_side_validation && bpay_account_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'bpay_account_request_body' when calling BPayAccountsApi.create_b_pay_account"
      end
      # resource path
      local_var_path = '/bpay_accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bpay_account_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'BpayAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'oAuth2ClientCredentials']

      new_options = opts.merge(
        :operation => :"BPayAccountsApi.create_b_pay_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BPayAccountsApi#create_b_pay_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Redact BPay Account (Future Feature)
    # Redact a **BPay Account** using a given `:id`. Redacted **BPay Accounts** can no longer be used as a Disbursement destination. 
    # @param id [String] BPay account ID
    # @param [Hash] opts the optional parameters
    # @return [BpayAccountDeletion]
    def redact_b_pay_account(id, opts = {})
      data, _status_code, _headers = redact_b_pay_account_with_http_info(id, opts)
      data
    end

    # Redact BPay Account (Future Feature)
    # Redact a **BPay Account** using a given &#x60;:id&#x60;. Redacted **BPay Accounts** can no longer be used as a Disbursement destination. 
    # @param id [String] BPay account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(BpayAccountDeletion, Integer, Hash)>] BpayAccountDeletion data, response status code and response headers
    def redact_b_pay_account_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BPayAccountsApi.redact_b_pay_account ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BPayAccountsApi.redact_b_pay_account"
      end
      # resource path
      local_var_path = '/bpay_accounts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BpayAccountDeletion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'oAuth2ClientCredentials']

      new_options = opts.merge(
        :operation => :"BPayAccountsApi.redact_b_pay_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BPayAccountsApi#redact_b_pay_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show BPay Account
    # Show details of a specific **BPay Account** using a given `:id`.
    # @param id [String] BPay account ID
    # @param [Hash] opts the optional parameters
    # @return [BpayAccount]
    def show_b_pay_account(id, opts = {})
      data, _status_code, _headers = show_b_pay_account_with_http_info(id, opts)
      data
    end

    # Show BPay Account
    # Show details of a specific **BPay Account** using a given &#x60;:id&#x60;.
    # @param id [String] BPay account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(BpayAccount, Integer, Hash)>] BpayAccount data, response status code and response headers
    def show_b_pay_account_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BPayAccountsApi.show_b_pay_account ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BPayAccountsApi.show_b_pay_account"
      end
      # resource path
      local_var_path = '/bpay_accounts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BpayAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'oAuth2ClientCredentials']

      new_options = opts.merge(
        :operation => :"BPayAccountsApi.show_b_pay_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BPayAccountsApi#show_b_pay_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show BPay Account User
    # Show the **User** the **BPay Account** is associated with using a given `:id`.
    # @param id [String] BPay account ID
    # @param [Hash] opts the optional parameters
    # @return [SingleUser]
    def show_b_pay_account_user(id, opts = {})
      data, _status_code, _headers = show_b_pay_account_user_with_http_info(id, opts)
      data
    end

    # Show BPay Account User
    # Show the **User** the **BPay Account** is associated with using a given &#x60;:id&#x60;.
    # @param id [String] BPay account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(SingleUser, Integer, Hash)>] SingleUser data, response status code and response headers
    def show_b_pay_account_user_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BPayAccountsApi.show_b_pay_account_user ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BPayAccountsApi.show_b_pay_account_user"
      end
      # resource path
      local_var_path = '/bpay_accounts/{id}/users'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SingleUser'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'oAuth2ClientCredentials']

      new_options = opts.merge(
        :operation => :"BPayAccountsApi.show_b_pay_account_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BPayAccountsApi#show_b_pay_account_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
